{% extends "base.html" %}

{% block content %}
<section class="popit">
    <div class="container">
        <div class="popitInner" style="margin-top: 0">
            <h2>ПРОФИЛЬНАЯ ШКОЛА «КВАНТ»</h2>
            <p class="more">Республиканская летняя профильная школа-лагерь «Квант» будет проходить на территории детского оздоровительного лагеря «Илеть» (Марийская республика), расположенного в 75 км от Казани. Сроки смены: c 12 по 29 июня 2022 г., длительность смены: 18 дней.

Общая стоимость путевки, включающая в себя отдых, оздоровление и образовательные услуги, составит:

для школьников, проживающих на территории РТ или обучающихся в школах РТ – 22 900 рублей
для школьников из других регионов РФ – 36 140 рублей</p>
        </div>
    </div>
</section>
<section>
    <div class="container" style="font-size: 17px">
        <div class="grid-wrapper" style="padding-top: 15px; padding-bottom: 15px; margin-bottom: 20px; width: 100%;"><p>        Медицинская справка форма №079/у, распечатанная на 1 листе с двух сторон (скачать). Справка заполняется в поликлинике по месту жительства.

Список анализов, которые должны быть вписаны в справку 079/у или приложены к ней:</p></div>
    <div><p class="listit">
1. Копия прививочного сертификата, заверенного печатью, или отметка в справке о прививках. В случае отказа от прививок оформляется письменный отказ по форме пр. №19 от 26.01.2009 г. (скачать);
</p></div><div><p class="listit">
        2. Результаты реакции Манту (до 15 лет, за последние три года). В случае отказа от р. Манту обязательна справка от фтизиатра.
</p></div><div><p class="listit">
        3. Результаты анализа крови (РЭМС) (с 14 лет);
</p></div><div><p class="listit">
        4. Результаты флюорографического обследования (с 15 лет, срок действия 2 года);
</p></div><div><p class="listit">
        5. Соскоб на энтеробиоз (срок действия 10 дней);
</p></div><div><p class="listit">
        6. Результат анализа кала на яйца гельминтов и лямблии (срок действия 10 дней);
</p></div><div><p class="listit">
        7. Отметка в справке об отсутствии кожных заболеваний и педикулеза, а также, что ребенок здоров, противопоказаний для пребывания в лагере нет;
</p></div><div><p class="listit">
        8. Справка из поликлиники (фильтра) об отсутствии дома инфекций, в том числе об отсутствии контакта с больными коронавирусной инфекцией (срок действия 3 дня).
    </p>
    </div>
        </div>
</section>
<section style="padding-top: 60px; padding-bottom: 20px">
    <div class="container" style="font-size: 17px">
        <div class="grid-wrapper" style="padding-top: 15px; padding-bottom: 15px; margin-bottom: 20px; width: 100%;"><p>Список необходимых вещей</p></div>
    <div><p class="listit">
Канцтовары для занятий: ручка, карандаш, тетрадь
</p></div><div><p class="listit">
Вещи на холодную погоду: куртка, свитер/толстовка
</p></div><div><p class="listit">
Вещи на жаркую погоду: головной убор
</p></div><div><p class="listit">
Купальные принадлежности: купальник/плавки, солнцезащитный крем
</p></div><div><p class="listit">
Сменное белье, обувь, спортивная одежда и обувь
</p></div><div><p class="listit">
Кружка, ложка (для вечерних мероприятий)
</p></div><div><p class="listit">
Непортящиеся продукты: чай, сахар, печенье, конфеты
</p></div><div><p class="listit">
Средства личной гигиены: зубная щетка/паста, мыло, шампунь, гель для душа,
    </p>
    </div>
        </div>
</section>
{% endblock %}

