{% extends "base.html" %}

{% block content %}
<section class="banner" style="height: 0;">
    <div class="container">
        <div class="bannerInner" style="padding-top: 0;">
            <h1>Лаборатория "Физика 9-10"</h1>
            <!--<p class="more">Приглашаем школьников, заканчивающих 6–10 классы, увлеченных физикой, математикой и информатикой, участников олимпиад, конкурсов, конференций принять участие в программе Летней школы.
                Для школьников предусмотрены три основных учебных занятия, где школьники знакомятся с современными достижениями естественных наук, узнают много нового и пробуют свои силы в решении нестандартных и оригинальных задач.
                Планируется проведение циклов лекций и мастер классов от преподавателей и сотрудников Казанского федерального университета и других ведущих образовательных организаций и исследовательских институтов Казани.
                Во второй половине дня ребят ждут разнообразные предметные факультативы, зрелищные демонстрационные опыты, кружки (фото, настольные игры, шахматы и др.), дискуссионные клубы, творческие конкурсы (рисовальный марафон, конкурс чтецов и др.), а также многочисленные спортивные мероприятия (волейбол, бадминтон, футбол, лапта, ринго, настольный теннис и др.).
                Вечернее время посвящено культурно-массовым мероприятиям: дискотеки, концерты школьников и вожатых, конкурсы КВН, «Что? Где? Когда?», а также ставший традиционным песенный конкурс «Квантовидение».</p>
                -->
        </div>
    </div>
</section>

<section class="popit" >
    <div class="container">
        <div class="popitInner">
            <div class="grid-wrapper" style="padding-top: 15px; padding-bottom: 15px; margin-bottom: 0; width: 100%;"><h3>Физика 10</h3></div>
            <p class="more">Данный курс представляет собой углубленное изучение тем механики: кинематика, динамика системы материальных точек, силы в механике. Слушатель столкнётся как со строгим математическим описанием движения, так и с качественными объяснениями наблюдаемых  явлений. Подробно будут объяснены физическая суть вводимых величин и методы оперирования ими. Также в курсе затрагивается множество тонких вопросов, ответы на которые хорошо демонстрируют глубину фундамента современного описания механики. Учащимся предстоит решить множество интересных задач и выполнить лабораторные работы на определение уравнения движения тела, проверку закона сохранения энергии, проверку закона сохранения импульса.</p>
        </div>
    </div>
</section>

<section class="popit" >
    <div class="container">
        <div class="popitInner">
            <div class="grid-wrapper" style="padding-top: 15px; padding-bottom: 15px; margin-bottom: 0; width: 100%;"><h3>Физика 9</h3></div>
            <p class="more">Принцип изучения физики концентрический, поэтому учащиеся лаборатории Физика-9 начнут изучать физику, можно сказать, заново, но со всей строгостью присущей точным наукам. Внимание будет сфокусировано на базовых темах, таких как кинематика, динамика системы материальных точек, моменты, законы сохранения, импульс и энергия, с привлечением усложненного математического аппарата. Мы подробно изучим различные механические силы, такие как силы упругости, силы тяжести. Познакомимся с концепцией полевого взаимодействия, обсудим фундамент динамики – законы Ньютона. 
Лабораторные работы у девятиклассников будут посвящены теме “Механика”. Выполнив их, учащиеся более подробно познакомятся со свойствами физического маятника, неравноплечих весов, научатся находить коэффициент трения.</p>
        </div>
    </div>
</section>
{% endblock %}
