{% extends "base.html" %}

{% block content %}
<section class="banner" style="height: 0;">
    <div class="container">
        <div class="bannerInner" style="padding-top: 0;">
            <h1>Лаборатория "Физика 6-8"</h1>
            <!--<p class="more">Приглашаем школьников, заканчивающих 6–10 классы, увлеченных физикой, математикой и информатикой, участников олимпиад, конкурсов, конференций принять участие в программе Летней школы.
                Для школьников предусмотрены три основных учебных занятия, где школьники знакомятся с современными достижениями естественных наук, узнают много нового и пробуют свои силы в решении нестандартных и оригинальных задач.
                Планируется проведение циклов лекций и мастер классов от преподавателей и сотрудников Казанского федерального университета и других ведущих образовательных организаций и исследовательских институтов Казани.
                Во второй половине дня ребят ждут разнообразные предметные факультативы, зрелищные демонстрационные опыты, кружки (фото, настольные игры, шахматы и др.), дискуссионные клубы, творческие конкурсы (рисовальный марафон, конкурс чтецов и др.), а также многочисленные спортивные мероприятия (волейбол, бадминтон, футбол, лапта, ринго, настольный теннис и др.).
                Вечернее время посвящено культурно-массовым мероприятиям: дискотеки, концерты школьников и вожатых, конкурсы КВН, «Что? Где? Когда?», а также ставший традиционным песенный конкурс «Квантовидение».</p>
                -->
        </div>
    </div>
</section>

<section class="popit" >
    <div class="container">
        <div class="popitInner">
            <div class="grid-wrapper" style="padding-top: 15px; padding-bottom: 15px; margin-bottom: 0; width: 100%;"><h3>Физмат 8</h3></div>
            <p class="more">На занятиях физикой в лаборатории Физмат-8 мы подробно разберем тему “Электричество”: начиная с базовых понятий электрического заряда и электрического тока, заканчивая законами электростатики и запутанными электрическими схемами, которые также научимся и строить. Помимо лабораторных работ связанных с изучением электричества (например, изучение вольт-амперной характеристики резистора и исследование электрической батареи), запланированы работы, направленные на изучение оптики (преломления света на примере нахождения коэффициента преломления пластины, нахождения фокуса линзы).</p>
        </div>
    </div>
</section>

<section class="popit" >
    <div class="container">
        <div class="popitInner">
            <div class="grid-wrapper" style="padding-top: 15px; padding-bottom: 15px; margin-bottom: 0; width: 100%;"><h3>Физмат 7</h3></div>
            <p class="more">Учащиеся расширят свои знания о том, как описать физические явления при помощи математического аппарата, закрепят знания базовых понятий физики, например таких как векторы и операции над ними. Все это будет применено к решению задач гидростатики и механики на темы давление жидкости, закон Паскаля, закон Архимеда, условия равновесия тел, рычаг, подвижные и неподвижные блоки, наклонная плоскость, золотое правило механики, работа, энергия, мощность, КПД механизмов. Также измерению плотностей тел и КПД механизмов будут посвящены лабораторные работы.</p>
        </div>
    </div>
</section>

<section class="popit" >
    <div class="container">
        <div class="popitInner">
            <div class="grid-wrapper" style="padding-top: 15px; padding-bottom: 15px; margin-bottom: 0; width: 100%;"><h3>Физмат 6</h3></div>
            <p class="more">Основная задача курса – знакомство с физикой и подготовка к ее дальнейшему изучению. На этом курсе учащиеся лаборатории узнают, как с помощью приемов логики, рассуждения, наблюдения получить знания об окружающем мире; чем эксперимент отличается от простого наблюдения; научатся выводить простейшие закономерности механики; познакомятся с базовыми понятиями физики, такими как сила, вектор, равновесие, рычаги, блоки. Лабораторная работа, запланированная в этом курсе, наглядно покажет как с помощью наблюдения узнать количество деревьев в лесу, или веток на дереве, поможет в изучении  простых механизмов.</p>
        </div>
    </div>
</section>
{% endblock %}
