{% extends "base.html" %}

{% block content %}
<section class="banner" style="height: 0;">
    <div class="container">
        <div class="bannerInner" style="padding-top: 0;">
            <h1>Лаборатория "Информатика"</h1>
            <!--<p class="more">Приглашаем школьников, заканчивающих 6–10 классы, увлеченных физикой, математикой и информатикой, участников олимпиад, конкурсов, конференций принять участие в программе Летней школы.
                Для школьников предусмотрены три основных учебных занятия, где школьники знакомятся с современными достижениями естественных наук, узнают много нового и пробуют свои силы в решении нестандартных и оригинальных задач.
                Планируется проведение циклов лекций и мастер классов от преподавателей и сотрудников Казанского федерального университета и других ведущих образовательных организаций и исследовательских институтов Казани.
                Во второй половине дня ребят ждут разнообразные предметные факультативы, зрелищные демонстрационные опыты, кружки (фото, настольные игры, шахматы и др.), дискуссионные клубы, творческие конкурсы (рисовальный марафон, конкурс чтецов и др.), а также многочисленные спортивные мероприятия (волейбол, бадминтон, футбол, лапта, ринго, настольный теннис и др.).
                Вечернее время посвящено культурно-массовым мероприятиям: дискотеки, концерты школьников и вожатых, конкурсы КВН, «Что? Где? Когда?», а также ставший традиционным песенный конкурс «Квантовидение».</p>
                -->
        </div>
    </div>
</section>

<section class="popit" >
    <div class="container">
        <div class="popitInner">
            <div class="grid-wrapper" style="padding-top: 15px; padding-bottom: 15px; margin-bottom: 0; width: 100%;"><h3>Информатика</h3></div>
            <p class="more">Программа лаборатории информатики объединяет школьников 8-10-х классов, принимающих участие в олимпиадах и конкурсах по информатике и программированию, и желающих углубить свой уровень знаний в этой области.
В нашей лаборатории учащиеся расширят свои знания в олимпиадных алгоритмах, научатся решать сложные задачи, познакомятся с основными инструментами разработчика и методами программирования. Особое место в программе занимает работа в команде и разработка проекта, который будет добавлен в портфолио учащегося и будет хранится на платформе Github. Командная работа позволяет учащимся, имеющим склонность к точным наукам, развить социальные навыки: грамотно, доходчиво излагать мысли, выступать перед аудиторией. Проектная деятельность позволяет раскрыть творческие способности учащихся и создать новое своими руками.
В учебную программу занятий №1 и 2 включены следующие темы:
* Алгоритмы сортировки.
* Комбинаторика.
* Динамическое программирование.
* Анализ и обработка текста.
* Графы.
* Геометрия.
* Алгебра, числовые алгоритмы и многое другое.
Занятие № 3 включает в себя следующие виды деятельности: 
* объединение в команды, распределение ролей, определение направления, распределение задач;
* работа с системами управления версиями, работа в менеджере задач;
* ежедневные совещания, наставничество;
* презентация проекта.
Направления проектов:
* Простейшие консольные приложения.
* Обучение созданию графическим приложениям на Python + Django.
* Разработка чат-ботов для мессенджеров и соц. сетей.
* Работа с API.
* Web-разработка.
* Разработка игр. GameDev.
* Анализ данных. Data mining, web scraping, parsing.</p>
        </div>
    </div>
</section>
{% endblock %}
