{% extends "base.html" %}

{% block content %}
<section class="banner" style="height: 0;">
    <div class="container">
        <div class="bannerInner" style="padding-top: 0;">
            <h1>Лаборатория "Математика 9-10"</h1>
            <!--<p class="more">Приглашаем школьников, заканчивающих 6–10 классы, увлеченных физикой, математикой и информатикой, участников олимпиад, конкурсов, конференций принять участие в программе Летней школы.
                Для школьников предусмотрены три основных учебных занятия, где школьники знакомятся с современными достижениями естественных наук, узнают много нового и пробуют свои силы в решении нестандартных и оригинальных задач.
                Планируется проведение циклов лекций и мастер классов от преподавателей и сотрудников Казанского федерального университета и других ведущих образовательных организаций и исследовательских институтов Казани.
                Во второй половине дня ребят ждут разнообразные предметные факультативы, зрелищные демонстрационные опыты, кружки (фото, настольные игры, шахматы и др.), дискуссионные клубы, творческие конкурсы (рисовальный марафон, конкурс чтецов и др.), а также многочисленные спортивные мероприятия (волейбол, бадминтон, футбол, лапта, ринго, настольный теннис и др.).
                Вечернее время посвящено культурно-массовым мероприятиям: дискотеки, концерты школьников и вожатых, конкурсы КВН, «Что? Где? Когда?», а также ставший традиционным песенный конкурс «Квантовидение».</p>
                -->
        </div>
    </div>
</section>

<section class="popit" >
    <div class="container">
        <div class="popitInner">
            <div class="grid-wrapper" style="padding-top: 15px; padding-bottom: 15px; margin-bottom: 0; width: 100%;"><h3>Математика 10</h3></div>
            <p class="more">Математика – наука отнюдь не только про числа и действия с ними. Учащиеся лаборатории Математика-10 познакомятся с более абстрактными математическими структурами: векторными пространствами, как с конечномерными, так и с бесконечномерными. Задачи новых и весьма неожиданных разделов математики требуют абстрактного мышления, которое мы будем развивать, отвечая на вопросы о линейной зависимости векторов, разлагая векторы по базису, вычисляя скалярные произведения, находя нормы в различных векторных пространствах.
Но и про числа забывать не стоит. Менее абстрактная, чем векторные пространства, но не менее красивая теория чисел – раздел математики, который начинался с изучения целых чисел и их свойств. В ходе этого курса мы научимся решать линейные диофантовы уравнения. Помимо этого мы познакомимся с понятием сравнения по модулю и даже научимся решать некоторые системы таких сравнений. Все это не только интересно, но и может помочь разобраться в решении некоторых задач ЕГЭ по математике профильного уровня.</p>
        </div>
    </div>
</section>

<section class="popit" >
    <div class="container">
        <div class="popitInner">
            <div class="grid-wrapper" style="padding-top: 15px; padding-bottom: 15px; margin-bottom: 0; width: 100%;"><h3>Математика 9</h3></div>
            <p class="more">Учащиеся лаборатории Математика-9 познакомятся с новым разделом современной математики – группами. Этот универсальный инструмент повсеместно используется в математике и естественных науках, часто для обнаружения внутренней симметрии объектов. Кроме этого, учащиеся лаборатории познакомятся с числовыми последовательностями, методами решения рациональных и иррациональных уравнений и неравенств. Данные разделы помогут расширить математический кругозор и  разобраться в тех темах, которые встречаются на ЕГЭ по математике профильного уровня, что, без сомнения, актуально для большинства старшеклассников. Невозможно не согласиться со словами великого отечественного ученого М.В.Ломоносова: «Математику уже затем учить следует, что она ум в порядок приводит». В летней профильной школе «Квант» это можно будет сделать с большим удовольствием.</p>
        </div>
    </div>
</section>
{% endblock %}
