{% extends "base.html" %}

{% block content %}
<section>
    <container>
        <div class="lala">
        <div class="teachers">
            <h1 class="name">Наши преподаватели</h1>
            <h2>Руководство школы</h2>
            <div class="grid">


                <div>
                    <div class="grid-item">
                        <div class="wrapper">
                            <div class="card">
                                <div class="front">
                                    <img src="static\img\people\директор.jpeg">
                                </div>
                                <div class="back">
                                    <span>Директор летней профильной школы </span>
                                </div>
                            </div>
                        </div>
                        <p>Наталья Вячеславовна Калачева</p>

                    </div>
                </div>
                <div>
                    <div class="grid-item">
                        <div class="wrapper">
                            <div class="card">
                                <div class="front">
                                    <img src="static\img\people\учитель12.jpg">


                                </div>
                                <div class="back">
                                    <span>Заместитель директора</span>
                                </div>
                            </div>
                        </div>
                        <p>Шмелёв Артемий Геннадьевич</p>

                    </div>
                </div>



                    <div class="grid-item">
                        <div class="wrapper">
                            <div class="card">
                                <div class="front">
                                    <img src="static\img\people\учитель22.jpeg">
                                </div>
                                <div class="back">
                                    <span>Научный руководитель</span>
                                </div>
                            </div>
                        </div>
                        <p>Валентина Алексеевна Сочнева</p>

                    </div>
                </div>
                <div>
            <div class="grid">
                <div >
                    <div class="grid-item">
                        <div class="wrapper">
                            <div class="card">
                            <div class="front"><img src="https://med-otzyv.ru/images/doctors/315415f059347781087e6e0d7ff46f83e8ed04a6.png"></div>
                            <div class="back"><span>Врач</span></div>
                            </div>
                        </div>

                        <p>Юлия Георгиевна Фалина</p>
                    </div>

                </div>
                <div class="grid-item">
                    <div class="wrapper">
                        <div class="card">
                        <div class="front"><img src="static\img\people\Снимок экрана (197).png"></div>
                        <div class="back"><span>Врач </span></div>
                        </div>
                    </div>

                    <p>Альбина Рафаэлевна Фаттахова</p>
                </div>

                <div class="grid-item">
                    <div class="wrapper">
                        <div class="card">
                        <div class="front"><img src="static\img\people\учитель3.jpeg"></div>
                        <div class="back"><span>Спортинструктор </span></div>
                        </div>
                    </div>


                    <P>Ильдус Юнусович Мифтахов</P>
                </div>
                <div class="grid-item">
                    <div class="wrapper">
                        <div class="card">
                        <div class="front"><img src="static\img\people\культорг1.jpeg"></div>
                        <div class="back"><span>Кульорганизатор</span></div>
                        </div>
                    </div>


                    <p>Алия Гафиатуллина</p>
                </div>
            </div>
        </div>
    </div>
    </container>
</section>
<hr></hr>
<section class="lala">
    <h2 style="text-align: center">Преподаватели физики</h2>
        <div class="grid">
            <div >
                <div class="grid-item">
                    <div class="wrapper">
                        <div class="card">
                        <div class="front"><img src="static\img\people\учитель8.jpeg"></div>
                        <div class="back"><span>Преподаватель лаборатории "Физика 9 ",ведёт факультатив "Простраство-время и теория относительности,а также курс по выбору "Строение вещества в одном графике".</span></div>
                        </div>
                    </div>

                    <p>Антон Юрьевич Авдеев</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="wrapper">
                    <div class="card">
                    <div class="front"><img src="static\img\people\учитель10.jpeg"></div>
                    <div class="back"><span>Преподаватель лабораторий ФИЗМАТ 7 и ФИЗМАТ 6,ведет факультатив "Филосовсий клуб",а также курсы по выбору: "Квантовая механика"и"Колебания и волны"</span></div>
                    </div>
                </div>

                <p>Равиль Васильевич Урманчеев</p>
            </div>
            <div class="grid-item">
                <div class="wrapper">
                    <div class="card">
                    <div class="front"><img src="static\img\people\учитель5.jpeg"></div>
                    <div class="back"><span>Преподаватель физики лаборатории ФИЗМАТ 8</span></div>
                    </div>
                </div>

                <p>Наиль Ниязович Ахатов </p>
            </div>
        </div>
        <div class="grid">
            <div >
                <div class="grid-item">
                    <div class="wrapper">
                        <div class="card">
                        <div class="front"><img src="static\img\people\учитель11.jpeg"></div>
                        <div class="back"><span>Преподаватель физики лаборатории ФИЗМАТ 8 </span></div>
                        </div>
                    </div>

                    <p>Алина Владимировна Вострокнутова</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="wrapper">
                    <div class="card">
                    <div class="front"><img src="static\img\people\учитель7.jpeg"></div>
                    <div class="back"><span>Преподаватель лаборатории Физика  9</span></div>
                    </div>
                </div>

                <p>Олеся Борисовна Салихова</p>
            </div>
            <div class="grid-item">
                <div class="wrapper">
                    <div class="card">
                    <div class="front"><img src="static\img\people\учитель13.jpeg"></div>
                    <div class="back"><span>Преподаватель лаборатории Физика 9</span></div>
                    </div>
                </div>

                <p>Артём Феликсович Посадский </p>
            </div>
            <div class="grid-item">
                <div class="wrapper">
                    <div class="card">
                    <div class="front"><img src="static\img\people\учитель15.jpeg"></div>
                    <div class="back"><span>Преподаватель лаборатории Физика 10</span></div>
                    </div>
                </div>

                <p>Максим Сергеевич Матвеев</p>
            </div>

        </div>
        <hr></hr>


            <h2 style="text-align: center">Преподаватели математики</h2>

        <div class="grid">
            <div >
                <div class="grid-item">
                    <div class="wrapper">
                        <div class="card">
                        <div class="front"><img src="static\img\people\учитель4.jpeg"></div>
                        <div class="back"><span>Преподаватель лаборатории ФИЗМАТ 8,ведет курс по выбору"Дифферинциальные уравнения в приложениях" </span></div>
                        </div>
                    </div>

                    <p>Дамир Фаритович Абзалилов </p>
                </div>
            </div>
            <div class="grid-item">
                <div class="wrapper">
                    <div class="card">
                    <div class="front"><img src="static\img\people\Снимок экрана (193).png"></div>
                    <div class="back"><span>Преподаватель лаборатории ФИЗМАТ 7,ведет курс по выбору "Правда ложь и математическая статистика</span></div>
                    </div>
                </div>

                <p>Ирина Сергеевна Григорьева</p>
            </div>
            <div class="grid-item">
                <div class="wrapper">
                    <div class="card">
                    <div class="front"><img src="static\img\people\учитель9.jpeg"></div>
                    <div class="back"><span>Преподаватель лаборатории ФИЗМАТ 7,ведет курс по выбору "Введение в комфорные изображения" и факультатив "Рисовальны марафон"</span></div>
                    </div>
                </div>
                <p>Дина Наилевна Даутова</p>
            </div>
        </div>
        <div class="grid">
            <div >
                <div class="grid-item">
                    <div class="wrapper">
                        <div class="card">
                        <div class="front"><img src="static\img\people\Снимок экрана (191).png"></div>
                        <div class="back"><span>Преподаватель лаборатории "Математика 10", ведет курс по выбору "Задачи с параметрами" </span></div>
                        </div>
                    </div>

                    <p>Владимир Игоревич Сухарев</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="wrapper">
                    <div class="card">
                    <div class="front"><img src="static\img\people\учитель6.jpeg"></div>
                    <div class="back"><span>Преподаватель лаборатории "Математика 9"</span></div>
                    </div>
                </div>

                <p>Артур Данилевич Романенко</p>
            </div>
            <div class="grid-item">
                <div class="wrapper">
                    <div class="card">
                    <div class="front"><img src="static\img\people\ущё чел.jpeg"></div>
                    <div class="back"><span>Преподаватель лаборатории "Математика 10" и ФИЗМАТ 6</span></div>
                    </div>
                </div>

                <p>Денис Володин </p>
            </div>
            <div class="grid-item">
                <div class="wrapper">
                    <div class="card">
                    <div class="front"><img src="static\img\people\чел.jpeg"></div>
                    <div class="back"><span>Преподаватель лаборатории ФИЗМАТ 6 и "Математика 9" </span></div>
                    </div>
                </div>

                <p>Ильнур Галимуллин</p>
            </div>
        </div>
        <div class="qwerty">
            <hr></hr>
         <h2 style="text-align: center"> Преподаватели Информатики</h2>
        </div>


        <div class="grid">
            <div >
                <div class="grid-item">
                    <div class="wrapper">
                        <div class="card">
                        <div class="front"><img src="static\img\people\учитель14.jpeg"></div>
                        <div class="back"><span>Преподаватель лаборатории "Информатика",а также ведет факультатив "Python"</span></div>
                        </div>
                    </div>

                    <p>Артак Размикович Санамян</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="wrapper">
                    <div class="card">
                    <div class="front"><img src="static\img\people\учитель2.jpeg"></div>
                    <div class="back"><span>Преподаватель лаборатории "Информатика"</span></div>
                    </div>
                </div>

                <p>Данил Юрьевич Серов </p>
            </div>
            <style>
                body {
                 background:  url();
                 color: black;
                }
               </style>

        </div>

    </div>
    </div>

</section>
{% endblock %}
